nav {
  background-color: #1e191a;
  display: flex;
  align-items: right;
  justify-content: right;
  color: white;
  height: 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 4px 0px 12px 12px #000000;
}

nav img {
  position: absolute;
  left: 0px;
  top: 12px;
  height: 80px;
  padding-left: 20px;
}

nav div {
  display: inline-block;
  position: flex;
  margin: 75px 25px 0px 0px;
}

nav div:hover {
  color: rgb(53, 129, 58);
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

/* New Styles Here */
body {
  margin: 0px;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.content {
  max-width: 800px;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  background-color: #1e191a;
}

.fade-in {
  position: relative;
  z-index: 0;
  opacity: 1;
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 100px;
  margin: 0;
  color: white;
}

.subheading {
  font-size: 24px;
  color: white;
}

.one form {
  background-color: white;
  padding: 35px 35px 35px 35px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 0px 18px 18px #000000;
  text-align: left;
}

.one form h2 {
  font-size: 50px;
  text-align: center;
}

.one form p {
  font-size: 24px;
  text-align: center;
}

.one label {
  font-size: 22px;
  padding-right: 10px;
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 18px;
}

.one input {
  height: 25px;
  width: 300px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.one textarea {
  display: flex;
  margin-top: 12px;
  width: 100%;
  height: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.one button {
  width: 25%;
  align-items: right;
  height: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.two {
  background: linear-gradient(99deg, #086c44 50%, #ffffff calc(50% + 1px));
  height: 100vh;
  width: 100vw;
}

.two h1 {
  color: #1e191a;
  font-size: 80px;
}

.two p.subheading {
  color: #1e191a;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #1e191a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
