img {
  border-radius: 10px 10px 10px 10px;
}

.text-center{
  padding-left:25px;
  padding-right:25px
}

/* ------------ */
/* NAVBAR CSS */
/* ------------ */
.navbar {
  background-color: #1e191a; /* Dark background for navbar */
  display: flex;
  align-items: center; /* Center items vertically */
  color: white;
  height: 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
}

/* Logo Styling */
.navbar-brand img {
  height: 75px; /* Fixed height for the logo */
}

/* Navigation Link Styling */
.navbar-nav .nav-link {
  color: white; /* Ensures nav links are white */
  margin-right: 25px; /* Right margin for spacing between links */
}

.navbar-nav .nav-link:hover {
  color: rgb(53, 129, 58); /* Green color on hover for links */
}

/* Media query for mobile adjustments */
@media (max-width: 992px) {
  .navbar-nav .nav-link {
    margin-right: 15px; /* Smaller right margin on smaller screens */
  }
}

/* Add this CSS to your existing stylesheet (App.css or Home.css) */
@media (max-width: 768px) {
  img {
    max-width: 90%; /* Adjust width for smaller screens */
  }
}


/* Styles specific to mobile toggle */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1); /* Toggler icon border color */
}

/* White background when navbar is expanded on mobile */
.navbar-collapse.collapse.show {
  width: 100%; /* Ensure full width coverage */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Shadow for depth */
  margin-top:15px;
}


/* ------------ */
/* MISSION CSS */
/* ------------ */
.container-mission {
  padding: 30px; /* Adequate padding around the content */
  background-color: #1e191a; /* Set a fixed background color */
  color: white;
  height:75vh;
  display: flex; /* Enables Flexbox */
  flex-direction: column; /* Stacks children vertically */
  justify-content: center; /* Centers content vertically */
  text-align: center; /* Centers text horizontally */
}
.container-mission h1{
 font-weight: bold; 
}


.container-mission h1, .container-mission p {
  opacity: 0; /* Start elements fully transparent */
  animation: fadeIn 3s ease-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pt-navbar {
  padding-top: 100px; /* Adjust based on your navbar's height */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .container-mission .display-6 {
    font-size: 1.75rem; /* Adjust font size for mobile devices */
  }

  .container-mission .lead {
    font-size: 1rem; /* Adjust paragraph text size for readability on mobile */
  }

  .pt-navbar {
    padding-top: 150px; /* Slightly smaller padding on mobile devices if navbar is smaller */
  }
}

@media (max-width: 576px) {
  .container-mission .content {
    padding: 15px; /* Less padding on the smallest screens */
  }
}

/* ------------ */
/* INSTALLATION CSS */
/* ------------ */
/* General styles for the installation section */
.container-fluid {
  padding: 0; /* Removes padding from the container */
}

.installation-left, .installation-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height:50vh;
}

/* Styles for the left column with green background */
.installation-left {
  background-color: #2a572c; /* Green background */
  color: white; /* White text for better readability on green */
  text-align: center; /* Center the text for aesthetics */
}

/* Styles for the right column with white background */
.installation-right {
  background-color: white; /* White background */
  color: black; /* Black text for contrast */
  text-align: left; /* Normal text alignment for detailed content */
}
.installation-right h1{
  font-weight: bold;
}

/* Ensuring mobile responsiveness */
@media (max-width: 768px) {
  .installation-left, .installation-right {
    text-align: center; /* Center text on smaller screens */
    padding: 15px; /* Slightly reduced padding on mobile devices */
  }
}

/* Optional: Additional mobile-specific adjustments */
.installation-right h1, .installation-right .subheading {
  font-size: smaller; /* Adjust font size on smaller screens for readability */
}


/* ------------ */
/* CAROUSEL CSS */
/* ------------ */
.carousel-slider {
  padding: 0 15px; /* Add padding to the slider */
}

.carousel-image {
  max-width: auto;
  max-height: 38vh;
  margin: 0 auto; /* Center images horizontally */
  padding: 0px;
}

/* Add !important to the arrow styles */
.slick-prev,
.slick-next {
  display: none; /* Hide arrows by default */
  position: absolute; /* Position arrows absolutely */
  top: 50%; /* Vertically center arrows */
  transform: translateY(-50%); /* Offset arrows vertically */
  z-index: 1; /* Ensure arrows are above images */
  font-size: 30px; /* Increase arrow size */
}

/* Show arrows on hover */
.carousel-slider:hover .slick-prev,
.carousel-slider:hover .slick-next {
  display: block;
}

/* Hide the dots */
.slick-dots {
  display: none !important;
}

/* Position the arrows */
.slick-prev {
  left: 15% !important; /* Adjust distance from left side */
}

.slick-next {
  right: 15% !important; /* Adjust distance from left side */
}

/* ------------ */
/* FOOTER CSS */
/* ------------ */
footer{
  background-color: #1e191a;
  color:white;
  padding-top:12px;
  padding-bottom:12px;
}

footer a{
  color:white;
  text-decoration: none;
}

footer .foot-overview-title{
  margin-top:5px;
  text-decoration: none;
  margin-bottom:5px;
}

footer .footer-about{
  margin-top:12px;
  text-decoration: none;
}
