img {
  border-radius: 10px 10px 10px 10px;
}

@media (min-width: 768px) {
  .text-center {
    padding-left: 125px; /* Default padding for larger screens */
    padding-right: 125px; /* Default padding for larger screens */
  }
}

/* ------------ */
/* FOOTER CSS */
/* ------------ */
footer{
  background-color: #1e191a;
  color:white;
  padding-top:12px;
  padding-bottom:12px;
  font-style: none;
}

footer a{
  color:white;
  text-decoration: none;
}

footer .foot-overview-title{
  margin-top:5px;
  text-decoration: none;
  margin-bottom:5px;
}

footer .footer-about{
  margin-top:12px;
  text-decoration: none;
}

footer .footer-brand{
  margin-top:12px;
}
